/arquivos/cmake-build-debug/.ninja_deps
/arquivos/cmake-build-debug/.ninja_log
/arquivos/cmake-build-debug/build.ninja
C:\Users\Ludo\Documents\programming\C_pure\academiafinal\main.c
C:\Users\Ludo\Documents\programming\C_pure\academiafinal\main.c